*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: font-family: 'Lato', sans-serif;
}

.page{
	width: 900px;
	height: 100%;
	margin:0 auto;
	border: 1px black;
}
.top{
	height: 300px;
	background-image: url(../images/bp3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background position: center;

}

.sidebar{
	height: 500px;
	background-color: black;
	width: 200px;
	float: left;
}



.logo {
	height: 150px;
	width: 200px;
	margin: 0 auto;
/*	border-radius: 100%;*/
	margin-bottom: 16px;
	border: 2px solid #f2f2f2;

	}

.content {
	height: 500px;
	width: 698px;
	background-image:url(../images/content.jpg);
	float: left;
  	filter: alpha (opacity=50);
  	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

.gif{

	width: 220px;
	height: 100px;
	margin-left: 5px;

}

}

.footer{
	clear: both;
	/*height: 200px;*/
	border: 1px solid red;
	background-color: blue;
	/*overflow: auto;*/
}

.clear::after {
	content: "";
	display: table;
	clear: both;
	/*overflow: auto;*/
}

.column{
	background-color: orange;
	height: 160px;
	width: 30%;
	margin: 20px 1.3%;
	float: left;
}

h1{
text-align: center;
color: #EB984E ;
font-size: 50px;
}

body{
	height: 100vh;
	position: relative;
	background-image: url(../images/bp.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}


ul > li {
	list-style: none;
	background-color: darkgrey;
	margin-bottom: 10px;
	text-align: center;
	font-size: 16px;
	line-height: 48px;
	border-radius: 20px;
	
}

ul > li > a {
	text-decoration: none;
	color: black;
	font-weight: 700;
	padding: 10px 30px;
}

span{
	color: yellow;
	font-size: 20px;
}

.comment{
	margin: 10px;
	overflow: hidden; 
}

.down{
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	border-radius: 40px;
	background-color: #D6E9FE;
	background-image: url(../images/pc.jpg);
	background-size: cover;
	float: left;
}

.username{
	margin-top:30px;
}

.column{
	height: 170px;
	width: 30%;
	margin: 20px 1.3%;
	float: left;
	overflow: scroll; /*or hidden*/
	background-image: url(../images/ft.jpg);
	background-size: cover;
	border-radius: 20px;
	background-position: center;

}





